#GlossaryTable_wrapper {
    border: 1px var(--blue-700) solid;
    border-radius: 6px;
    background-color: var(--blue-700);
    padding-bottom: 0.5rem;
}

#GlossaryTable_filter {
    margin: 0.25rem 0.25rem 0 0;
    input {
        background-color: var(--blue-900);
        border-color: var(--blue-600);
    }
}

#GlossaryTable {
    border-bottom: transparent;
    margin-bottom: 1px;
    th {
        border-bottom: transparent;
        padding: 8px 10px;
        font-weight: var(--fw-sub);
    }
    thead {
        text-align: left;
        .sorting {
            background-size: 12px;
            background-image: var(--sort_both);
        }
        .sorting_asc {
            background-image: var(--sort_asc) !important;
        }
        .sorting_desc {
            background-image: var(--sort_desc) !important;
        }
    }
    tr {
        vertical-align: top;
        &.even {
            background-color: var(--blue-900);
        }
    }
    td {
        border-top: 1px var(--blue-700) solid;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.glossary-head-name {
    width: 15%;
}

.glossary-head-category {
    width: 15%;
}

.glossary-head-definition {
    width: 70%;
}

.glossary-term-name {
    font-family: var(--ff-sans);
    font-size: var(--fs-m);
    font-weight: var(--fw-sub);
}

.glossary-term-category {
    font-family: var(--ff-sans);
    font-size: var(--fs-smallcaps);
    font-weight: var(--fw-sub);
    text-transform: uppercase;
}

.glossary-term-definition {
    font-family: var(--ff-serif);
    font-size: var(--fs-paragraph);
}

/* glossary table terms menu */

.glossary-terms-menu {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    li {
        list-style: none;
        border: 1px var(--blue-600) solid;
        border-radius: 4px;
        margin: 0 0.5rem 0 0;
        padding: 0 0.3rem;
        a {
            text-decoration: none;
            font-family: var(--ff-sans);
            font-size: var(--fs-smallcaps);
            font-weight: var(--fw-sub);
            text-transform: uppercase;
        }
        &:hover {
            background-color: var(--blue-800);
        }
    }
    .home-link {
        border-width: 2px;
    }
}
