#GlossaryTable_wrapper {
    border: 1px var(--blue-700) solid;
    border-radius: 6px;
    background-color: var(--blue-700);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#GlossaryTable_filter {
    margin: 0.25rem 0.25rem 0 0;
    input {
        background-color: var(--blue-900);
        border-color: var(--blue-600);
        &:focus {
            background-color: var(--white);
        }
    }
}

#GlossaryTable {
    border-bottom: transparent;
    margin-bottom: 1px;
    th {
        border-bottom: transparent;
        padding: 8px 10px;
        font-weight: var(--fw-sub);
    }
    thead {
        text-align: left;
        .sorting {
            background-size: 12px;
            background-image: var(--sort_both);
        }
        .sorting_asc {
            background-image: var(--sort_asc) !important;
        }
        .sorting_desc {
            background-image: var(--sort_desc) !important;
        }
    }
    tr {
        vertical-align: top;
        &.even {
            background-color: var(--blue-900);
        }
    }
    td {
        border-top: 1px var(--blue-700) solid;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.glossary-head-name {
    width: 15%;
}

.glossary-head-category {
    width: 15%;
}

.glossary-head-definition {
    background-image: none !important;
    width: 70%;
}

.glossary-head-edit-link {
    background-image: none !important;
}

.glossary-term-name {
    font-family: var(--ff-sans);
    font-size: var(--fs-m);
    font-weight: var(--fw-sub);
    line-height: var(--lh-s);
    a {
        display: block;
        margin-top: 2px;
        margin-bottom: 4px;
    }
}

.glossary-term-category {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.5rem;
        li {
            flex: 0;
            border: 1px var(--blue-600) solid;
            border-radius: 4px;
            padding: 0.4rem 0.3rem;
            margin-top: 1px;
            font-family: var(--ff-sans);
            font-size: var(--fs-smallcaps);
            font-weight: var(--fw-sub);
            text-transform: uppercase;
            line-height: var(--lh-xxs) !important;
            a {
                text-decoration: none !important;
                &:hover {
                    background-color: var(--blue-800);
                }
            }
        }
    }
}

.glossary-term-definition {
    font-family: var(--ff-serif);
    font-size: var(--fs-paragraph);
    blockquote {
        margin-left: 0;
    }
}

/* glossary table terms menu */

.glossary-terms-menu {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    padding: 0;
}
