.glossary-item-term {
    max-width: var(--max-width-text);
    margin: 1rem auto 1rem auto;
    padding: 0;
}

.update {
    margin: -1rem auto 2rem;
    font-size: var(--fs-s);
    max-width: var(--max-width-text);
}

.single-glossary .article-content {
    h2 {
        font-size: var(--fs-m);
        text-transform: uppercase;
        color: var(--blue-200);
        margin: 0 auto;
    }
}
