.glossary-item-terms {
    max-width: var(--max-width-text);
    margin: 1rem auto 1rem auto;
    padding: 0;
    display: flex;
    gap: 0.5rem;
}

.update {
    margin: 0 auto 2rem;
    font-size: var(--fs-s);
    max-width: var(--max-width-text);
}

.single-glossary {
    .article-content > p:first-child {
        font-size: var(--fs-l);
        line-height: var(--lh-large);
    }
}
