:root {
    --menu-bar-bg-color: var(--blue-500);
    --menu-item-bg-color: var(--blue-700);
    --menu-item-bg-hover-color: var(--blue-300);
    --menu-border: var(--blue-400);
    --menu-text-color: var(--paragraph-color);
    --menu-text-hover-color: var(--white);
    --menu-font-size: var(--fs-paragraph);
}
