:root {
    --blue-500: hsl(212, 90%, 70%);
    --blue-600: hsl(212, 90%, 80%);
    --blue-700: hsl(212, 90%, 89%);
    --blue-800: hsl(213, 62%, 94%);
    --blue-900: hsl(213, 62%, 97%);

    --a-color: hsl(225, 54%, 40%);
}
