:root {
    --sort_both: url('data:image/svg+xml;utf8,<svg width="18px" height="36px" xmlns="http://www.w3.org/2000/svg" ><polygon fill="rgb(51,51,51)" points="9,0 18,16 0,16"></polygon><polygon fill="rgb(51,51,51)" points="0,20 18,20 9,36"></polygon></svg>');
    --sort_asc: url('data:image/svg+xml;utf8,<svg width="18px" height="36px" xmlns="http://www.w3.org/2000/svg" ><polygon fill="rgb(51,51,51)" points="9,0 18,16 0,16"></polygon></svg>');
    --sort_desc: url('data:image/svg+xml;utf8,<svg width="18px" height="36px" xmlns="http://www.w3.org/2000/svg" ><polygon fill="rgb(51,51,51)" points="0,20 18,20 9,36"></polygon></svg>');
}
