/*
declarion of rem-value in _html-body.scss
  html { font-size: 16px; }

the minimal grid unit is 4px, that equals .25rem
the typographical rhythm is 28px (1.75rem)
*/

:root {
    /* font families */
    --ff-sans: Barlow, "Roboto", Arial, sans-serif;
    --ff-serif: Georgia, serif;
    --ff-mono: "Consolas", Courier, monospace;
    /* font size */
    --fs-xxs: 0.6rem; // ...
    --fs-xs: 0.75rem; // ...
    --fs-s: 0.85rem; // ...
    --fs-smallcaps: 0.95rem; // smallcaps; nav sub-item
    --fs-paragraph: 1.125rem; // p; nav top-items
    --fs-m: 1.3rem; // h4
    --fs-l: 1.5rem; // h3
    --fs-xl: 1.8rem; // h2 in article
    --fs-article-head: 2.2rem; // article title in archive mobile
    --fs-article-head-desktop: 4rem; // article title in archive desktop
    --fs-title: 2.2rem; // h1 mobile
    --fs-title-desktop: 4rem; // h1 desktop
    /* line height */
    --lh-xxs: 1rem;
    --lh-xs: 1.25rem;
    --lh-s: 1.5rem;
    --lh-paragraph: 1.75rem;
    --lh-large: 2.25rem;
    --lh-xl: 2.75rem;
    --lh-double: 3.5rem;
    /* font weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-sub: 600;
    --fw-bold: 700;
    /* spacing */
    --letter-spacing-smallcaps: 0.07rem;
    /* whiteline */
    --whiteline: var(--lh-paragraph);
}
